<launch>

<!-- MoveBaseSeq node launch and Points Sequence ROS Parameters Loading -->

  <!-- Robot1 -->
  <group ns="robot1">
    <!-- Run move_base_seqs node -->
    <node pkg="tb3_swarm" type="move_base_seq.py" name="move_base_seq" output="screen">
        <param name="to_do_task" value="Robot1 Hangar"/>
    </node>
    <!-- Distance Calculator -->
    <node pkg="tb3_swarm" type="odom_movement_detector.py" name="odom_distance" output="screen"/>
  </group>

  <group ns="robot2">
    <!-- Run move_base_seqs node -->
    <node pkg="tb3_swarm" type="move_base_seq.py" name="move_base_seq" output="screen">
        <param name="to_do_task" value="Robot2 Hangar"/>
    </node>
    <!-- Distance Calculator -->
    <node pkg="tb3_swarm" type="odom_movement_detector.py" name="odom_distance" output="screen"/>
  </group>

</launch>
