<launch>

<!-- MoveBaseSeq node launch and Points Sequence ROS Parameters Loading -->

    <!--Run move_base_seqs node-->
    <node pkg="tb3_swarm" type="move_base_seq.py" name="move_base_seq" output="screen">
        <param name="to_do_task" value="Flight Check at Once"/>
    </node>

    <node pkg="tb3_swarm" type="odom_movement_detector.py" name="odom_distance" output="screen"/>

</launch>
