<launch>
    <param name="map_yaml_path" value="$(find tb3_swarm_simulation)/maps/map.yaml" />
    <param name="iteration_count" type="int" value="3" />
    <param name="goal_generator_type" type="str" value="GoalReader" />
    <param name="obstacle_search_distance_in_meters" type="double" value="0.2" />

    <!-- Robot 1 -->
    <param name="robot1_action_server_name" type="str" value="/robot1/move_base" />
    <param name="robot1_goal_text_file_path" value="$(find isaac_ros_navigation_goal)/assets/robot1_goals.txt" />
    <rosparam param="robot1_initial_pose">[6.8, -1.26, 0, 0, 0, 0.70, 0.70] </rosparam>

    <!-- Robot 2 -->
    <param name="robot2_action_server_name" type="str" value="/robot2/move_base" />
    <param name="robot2_goal_text_file_path" value="$(find isaac_ros_navigation_goal)/assets/robot2_goals.txt" />
    <rosparam param="robot2_initial_pose">[6.8, -1.26, 0, 0, 0, 0.70, 0.70] </rosparam>
      

    <node name="set_navigation_goal" pkg="isaac_ros_navigation_goal" type="set_goal.py" output="screen"/>
</launch>
