<launch>
  <!-- Arguments -->
  <arg name="first_robot"  default="robot1"/>
  <arg name="second_robot" default="robot2"/>
  <arg name="open_rviz"    default="false"/>
  <arg name="move_forward_only" default="true"/>
  <!-- <arg name="map_file" default="$(find tb3_swarm)/maps/map_room.yaml"/> -->
  <!-- <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_waffle.urdf.xacro" /> -->

  <!-- Run the map server -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="/map" />
  </node> -->

  <group ns="$(arg first_robot)">

    <!--AMCL-->
    <include file="$(find tb3_swarm)/launch/navigation/multi_amcl.launch">
      <arg name="robot_namespace" value="$(arg first_robot)"/>
      <arg name="initial_pose_x" value="0.0"/>
      <arg name="initial_pose_y" value="0.0"/>
      <arg name="initial_pose_a" value="0.0"/>
    </include>

    <!--move_base-->
    <include file="$(find tb3_swarm)/launch/navigation/multi_move_base.launch">
      <arg name="robot_namespace" value="$(arg first_robot)"/>
      <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    </include>

    <!-- <node pkg="robot_pose_publisher" type="robot_pose_publisher" name="robot_pose_publisher">
      <param name="base_frame" value="$(arg second_robot)/base_link"/>
    </node> -->

  </group>

  <group ns="$(arg second_robot)">

    <!--AMCL-->
    <include file="$(find tb3_swarm)/launch/navigation/multi_amcl.launch">
      <arg name="robot_namespace" value="$(arg second_robot)"/>
      <!-- <arg name="initial_pose_x" value="2.05"/>
      <arg name="initial_pose_y" value="3.55"/>
      <arg name="initial_pose_a" value="-1.57"/> -->
      <arg name="initial_pose_x" value="-0.35"/>
      <arg name="initial_pose_y" value="0.3"/>
      <arg name="initial_pose_a" value="-1.57"/>
    </include>

    <!--move_base-->
    <include file="$(find tb3_swarm)/launch/navigation/multi_move_base.launch">
      <arg name="robot_namespace" value="$(arg second_robot)"/>
      <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    </include>

    <!-- <node pkg="robot_pose_publisher" type="robot_pose_publisher" name="robot_pose_publisher">
      <param name="base_frame" value="$(arg second_robot)/base_link"/>
    </node> -->

  </group>

  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find tb3_swarm)/rviz/navigation/singlerobot_navigation.rviz"/>
  </group>

</launch>
